<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>basic-markdown.md</key>
			<dict>
				<key>lastModification</key>
				<real>526576865.528382</real>
				<key>version</key>
				<dict>
					<key>dfe25f3b7fc5229242789a4cbb1396df6be4494bbfa625cb8e38f5ca8abfd712</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>learning-list.md</key>
			<dict>
				<key>lastModification</key>
				<real>526576865.52838397</real>
				<key>version</key>
				<dict>
					<key>dfe25f3b7fc5229242789a4cbb1396df6be4494bbfa625cb8e38f5ca8abfd712</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>526576877.798801</real>
				<key>lastModification</key>
				<real>526576877.798801</real>
				<key>version</key>
				<dict>
					<key>dfe25f3b7fc5229242789a4cbb1396df6be4494bbfa625cb8e38f5ca8abfd712</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>basic-markdown.md</string>
		</array>
		<array>
			<string>无标题.md</string>
		</array>
		<array>
			<string>learning-list.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>dfe25f3b7fc5229242789a4cbb1396df6be4494bbfa625cb8e38f5ca8abfd712</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
